<template name="footer">
    <div class="footr">
        {{#if notification}}
            {{#if notificationPopupShown}}
                <div class="new_post_update showNewPosts">You have {{notification}} new updates</div>
            {{/if}}
        {{/if}}    
        <div class="footr_lft">
            <div class="footer_div1">Copyright © Pet-Socail 2014 All Rights Reserved</div>
            <div class="footer_div2"><a href="#">Privacy Policy </a>| <a href="#"> Terms & Conditions</a></div>
        </div>
        <div class="footr_rgt">
            <ul>
                <li>
                    <a href="#"><img src="/images/social_1.png"></a>
                </li>
                <li>
                    <a href="#"><img src="/images/social_2.png"></a>
                </li>
                <li>
                    <a href="#"><img src="/images/social_3.png"></a>
                </li>
                <li>
                    <a href="#"><img src="/images/social_4.png"></a>
                </li>
            </ul>
        </div>
    </div>
</template>