<head>    
    <meta charset="utf-8"><!-- 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <!--  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  -->   
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap1.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<template name="layout">
    <title>{{pageTitle}}</title>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="brand" href="">PET LAUGH</a>
                <div class="pro_info pull-right">
                    {{#if isLoddedIn}}
                        <div class="pro_icn"><img src="images/pic_small.png"></div>
                        <div class="pro_txt">Me<b class="caret"></b></div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a tabindex="-1" href="{{pathFor 'timeline'}}">My Profile</a></li>
                            <li><a tabindex="-1" href="{{pathFor 'resetPassword'}}">Message Box</a></li>
                            <li><a tabindex="-1" href="#">Change Language</a></li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" href="#">
                                    <input type="text" placeholder="search">
                                </a>
                            </li>
                        </ul>
                    {{else}}
                    <div class="pro_txt pro_txt_login"><a href="{{pathFor 'login'}}" style='  color: white;'>Log In</a></div> 
                    {{/if}}     
                </div>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"> <a href="">Home</a> </li>
                        <li class=""> <a href="">E-Coupons</a> </li>
                        <li class=""> <a href="">E-Brands</a> </li>
                        <li class=""> <a href="">Resuse Market</a> </li>
                        <li class=""> <a href="">Lost and Found</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="header_lft">
            <div class="logo">
                <a href="/"><img src="/images/pets_laugh_no_border.png"></a>
            </div>
            <div class="navigatn">
                <ul>
                    <li><a href="/" class="active">Home</a></li>
                    <li><a href="#"> E-Coupons </a></li>
                    <li><a href="#">E-Brands </a></li>
                    <li><a href="#"> Resuse Market </a></li>
                    <li><a href="#"> Lost and Found</a></li>
                </ul>
            </div>
        </div>
        <div class="header_rgt">
            <!-- <div class="flag_div"><img src="/images/flag.png"></div> -->
            <input type="text" placeholder="Search" class="txt_box">
            <!-- <div class="msg_box"><a href="#"><span class="msg_count">100</span></a></div> -->
            <div class="info_div">
                {{#if isLoddedIn}}
                    <div class="image_div"> <img src="/images/pic.png"> </div>
                    <!-- TO-DO changed to show the user First name -->
                    <div class="info_div1">Me<!-- {{isLoddedIn.username}} --></div>   
                    <ul class="dropdown-menu open"  role="menu" aria-labelledby="dLabel">                        
                        <li><a tabindex="-1" href="{{pathFor 'timeline' id= currentUser._id}}">My Profile</a></li>
                        <!-- <li><a tabindex="-1" href="{{pathFor 'resetPassword'}}">Change password</a></li> -->
                        <li><a tabindex="-1" href="javascript:void(0)" class='logout'>Logout</a></li>
                        <li></li>                          
                    </ul>
                {{else}}
                    <div class="login"><a href="{{pathFor 'login'}}" style='  color: white;'>Log In</a></div>                   
                {{/if}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            {{> yield "rside"}} {{> yield "lside"}}
        </div>
    </div>
    <div class="clear"></div>
    {{> yield "footer" }}
</template>

