<template name="uploadCategory">    
	<div class="content_lft">
        <div class="register_sec">
            <h1>Create A Category</h1>
            <form id="category-form" onkeypress="return event.keyCode != 13;">
                <ul>
                    <div class="alerta"></div>
                    <li><span>Category Name</span>
                        <input type="text" placeholder="Enter category name"  id="password" required>
                    </li>
                    <li><span>Choose File </span>
                        <input type="file" id="category_image_type" required >
                    </li>
                    {{#if preview}}
                        <li><span>Image </span>
                            <img src="#" id='category_image'/>                    
                        </li>
                    {{/if}}
                    <li>
                        {{#if loading}}
                           {{> spinner}}                              
                        {{/if}}
                        <input type="submit" value="Add Category" id="category" >      
                           
                    </li>
	                
                </ul>               
            </form>
        </div>
    </div>
</template>
