<!-- <template name="changePassword">
    <div class="content_rgt">
        <div class="register_sec">
            <h1>Change Password</h1>
            <form id="changePassword-form" onkeypress="return event.keyCode != 13;">
                <ul>
                    <li><span>Enter Old Password</span>
                        <input type="password" placeholder="Enter your old password" required >
                    </li>
                    <li><span>Enter New Password</span>
                        <input type="password" placeholder="Enter your new password" required id="password">
                    </li>
                    <li><span>Confirm Password</span>
                        <input type="password" placeholder="Enter your password again" required id="confirmPassword">
                    </li>

                    <li>
                        {{#if isFieldOk}}                                          
                            <input type="submit" value="Submit" disabled>
                        {{else}}
                            <input type="submit" value="Submit">
                        {{/if}}  
                        
                    </li>
                </ul>
            </form>
        </div>
        {{#if popup}}
           {{> changePopup content='Password Sucessfully Changed Redirecting...'}}
        {{/if}}
    </div>
</template>
 -->