<template name="login">    
    <div class="content_rgt">
        <div class="login_sec">
            <h1>Log In</h1>
            <form id="login-form" onkeypress="return event.keyCode != 13;">
                <ul>                    
                    <div class="alerta"></div>
                    <li><span>Email-ID</span>
                        <input type="email" placeholder="Enter your email" required>
                    </li>
                    <li><span>Password</span>
                        <input type="password" placeholder="Enter your password" required>
                    </li>                    
                    <!-- <li>
                        <input type="checkbox" required>Remember Me</li> -->
                    <li>
                        <input type="submit" value="Log In">
                    </li>
                    <li>
                    <a href="{{pathFor 'forgotPassword'}}">Forgot Password</a></li>
                </ul>
                <div class="addtnal_acnt">I do not have any account yet.<a href="{{pathFor 'register'}}">Create My Account Now !</a></div>
            </form>
        </div>
    </div>
</template>
