<template name="post_list">
    <div class="content_lft">
        <div class="contnt_1">
         {{#if isInRole 'admin'}}
            <div class="list_1">
                <ul>
                    <!-- <li>
                        <input type="checkbox" class="chk_bx"> Friends
                    </li> -->
                    <li>
                        <input type="checkbox" class="chk_bx flagedPost" > Flaged
                    </li>
                </ul>
            </div>
          {{/if}}  
            <div class="post_div">
                <div class="post_list">
                    <ul>
                        <li class="latest"><a href="#"><span class="list_img"><img src="/images/img_1.png"></span>Latest First</a></li>
                        <li class="oldest"><a href="#"><span class="list_img"><img src="/images/img_2.png"></span>Oldest First</a></li>
                        <li class="mostPet"><a href="#"><span class="list_img"><img src="/images/img_3.png"></span>Most Pet</a></li>
                        <li class="mostClicked"><a href="#"><span class="list_img"><img src="/images/img_4.png"></span>Most Clicks</a></li>
                        <li class="mostCommented"><a href="#"><span class="list_img"><img src="/images/img_5.png"></span>Most Commented</a></li>
                    </ul>
                </div>
                {{#if newPostUpdates}}
                    <div class="post_txt showNewPosts cursor_pointer">{{newPostUpdates}} New Post Updates</div>
                {{/if}}    
            </div>
        </div>
        {{#each posts}}
        <div class="contnt_2">
                <div class="div_a">
                    <a href="/post/{{_id}}">
                        <div class="div_title">{{title}}</div>
                        <div class="btm_rgt">
                            <div class="btm_arc"><a href="{{queryPathFor 'home' catType }}" class="text_white">{{catType}}</a></div>
                        </div>
                     </a>
                    <div class="div_top">
                        <a href="/timeline/{{creator._id}}">
                        <div class="div_top_lft">{{#if creator.profile.picture}}
                            <img src="{{creator.profile.picture}}"> {{else}}
                            <img src="/images/img_6.png"> {{/if}} {{creator.username}}
                        </div>
                        </a>
                        {{#with formatTs createdAt}}
                        <div class="div_top_rgt"><span class="span_date">{{date}}</span><span class="span_time">{{time}}</span></div>
                        {{/with}}
                    </div>
                    <a href="/post/{{_id}}">
                        <div class="div_image"><img src="{{pictrue}}" alt="pet" /></div>
                    </a>
                    <div class="div_btm">
                    {{#if sharePost}}
                        <div id="share-buttons">

                            <!-- Facebook -->
                            <a href="http://www.facebook.com/sharer.php?u={{absoluteURL}}post/{{_id}}" target="_blank">
                                <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                            </a>
                            
                            <!-- Google+ -->
                            <a href="https://plus.google.com/share?url={{absoluteURL}}post/{{_id}}" target="_blank">
                                <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
                            </a>
                            
                            <!-- LinkedIn -->
                            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{absoluteURL}}post/{{_id}}" target="_blank">
                                <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
                            </a>
                            
                            <!-- Pinterest -->
                            <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                                <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
                            </a>

                            <!-- Twitter -->
                            <a href="https://twitter.com/share?url={{absoluteURL}}post/{{_id}}&amp;text={{title}}&amp;" target="_blank">
                                <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                            </a>

                    </div>
                    {{/if}}
                        <div class="btm_list">
                            <ul>
                                <li class="sharePost"><a href="#"><span class="btn_icon"><img src="/images/icon_001.png" alt="share" /></span>Share  </a></li>
                                {{#if isLiked flagBy}}
                                    <li class="unflagPost"><a href="#"><span class="btn_icon "><img src="/images/icon_002.png" alt="share" /></span>Unflag</a></li>
                                {{else}}
                                    <li class="flagPost"><a href="#"><span class="btn_icon "><img src="/images/icon_002.png" alt="share" /></span>Flag</a></li>
                                {{/if}}
                                
                                <li><a href="#"><span class="btn_icon"><img src="/images/icon_004.png" alt="share" /></span>{{ commentCount _id }} Comments</a></li>

                                {{#if isLiked likeBy}}
                                <li class="unlikePost"><a href="#"><span class="btn_icon"><img src="/images/icon_003.png" alt="share" /></span>Unlike</a></li>
                                {{else}}
                                <li class='likePost'><a href="#"><span class="btn_icon"><img src="/images/icon_003.png" alt="share" /></span>Likes</a></li>
                                {{/if}}
                                <div class="like_count" style="margin-right: 10px;"><span class="lft_cnt"></span><span class="mid_cnt">{{noOfLikes}}</span><span class="rit_cnt"></span></div>
                                <!-- <li><a href="#"><span class="btn_icon"><img src="/images/icon_003.png" alt="share" /></span>Featured</a></li> -->
                                <!-- <div class="like_count"><span class="lft_cnt"></span><span class="mid_cnt">4</span><span class="rit_cnt"></span></div> -->
                            </ul>
                        </div>
                    </div>
                </div>
           
        </div>
        {{/each}}

    </div>
</template>
