<template name='uploadPost'>
    <div class="content_lft">
        <div class="register_sec">
            <h1>Create A Post</h1>
            <form id="post-form" onkeypress="return event.keyCode != 13;">
                <ul>
                    <div class="alerta"></div>
                    <li><span>Title</span>
                        <input type="text" placeholder="Enter category name"  id="password" required>
                    </li>
                    <li><span>Category</span>
                        {{> inputAutocomplete settings=settings id="autocompleteCategory" class="input-xlarge" placeholder="Please Select Category..."}}
                    </li>
                    {{#if isInRole 'admin'}}
                       <li><span>Featured</span>
                        <input type='checkbox'>
                    </li>
                    {{/if}}
                    <li><span>Choose File </span>
                        <input type="file" id="post_image_type" required >
                    </li>                 
                    
                   {{#if preview}}
                      <li><span>Image </span>
                          <img src="#" id='post_image'/>                          
                      </li>
                  {{/if}}
                  <li>
                    {{#if loading}}
                      {{> spinner}}                         
                    {{/if}}
                    <input type="submit" value="Add Post" id="post" >      
                  </li>
                </ul>               
            </form>
        </div>
    </div>      
</template>

          
<template name="imageSearch">    
    <ul>
      <li><span>{{name}}</span></li>
    </ul>    
</template>

<template name="noMatch">   
    <ul>
      <li><span>No Match</span></li>
    </ul>    
</template>