<template name='editAccount'>
	<div class="rgt_contnt">
	      <div class="sec_title">My Account</div>
	      		<div class="rgt_midsec">
	            	<form id="edit-account-form">
	            	<div class="midsec_row">
	                	<div class="rw_hd">Username <span>*</span></div>
	                    <div class="rw_tbox"><input type="text" placeholder="Enter your username" value="{{user.username}}" class="tbox" required></div>
	                </div>
	                <div class="midsec_row">
	                	<div class="rw_hd">Email <span>*</span></div>
	                    <div class="rw_tbox"><input type="text" placeholder="Enter your Email ID" class="tbox" value="{{email}}" required></div>
	                </div>
	                <!-- <div class="midsec_row">
	                	<div class="rw_hd">Language</div>
	                    <div class="rw_tbox"><select class="slct_box"><option>-Select any Language-</option><option>English</option></select></div>
	                </div> -->
	                <!-- <div class="midsec_row">
	                	<div class="rw_hd">DOB</div>
	                    <div class="rw_tbox">
	                    	<div class="date_box"><input type="text" placeholder="Select Date" class="tbox"></div>
	                        	<span class="rw_icon"><a href="#"><img src="images/clander_icon.png" alt="Clander" /></a></span>
	                    </div>
	                </div> -->
	                <!-- <div class="midsec_row">
	                	<div class="rw_hd">Profile Pic</div>
	                    <div class="rw_tbox"><input type="file" class="fbox"></div>
	                </div> -->
	                <!-- <div class="midsec_row">
	                	<div class="rw_hd">Gender</div>
	                    <div class="rw_tbox"><select class="slct_box"><option>-Select your Gender-</option><option>Male</option><option>Female</option></select></div>
	                </div> -->
	                <div class="midsec_row">
	                	<div class="rw_hd">Self Description</div>
	                    <div class="rw_tbox"><textarea class="tarea">{{user.profile.description}}</textarea></div>
	                </div>
	                <div class="midsec_row">
	                	<div class="rw_hd">Phone Number</div>
	                    <div class="rw_tbox">
	                        <div class="phon_num"><input type="text" placeholder="Enter your Phone Number" class="tbox" value="{{user.profile.phone}}"></div>
	                    </div>    
	                </div>
	                <div class="midsec_row">
	                	<div class="rw_hd">Address</div>
	                    <div class="rw_tbox"><textarea class="tarea">{{user.profile.address}}</textarea></div>
	                </div>
	               <!--  <div class="midsec_row">
	                	<div class="rw_hd">Nationality</div>
	                    <div class="rw_tbox"><select class="slct_box"><option>-Select any Nationality-</option><option>American</option></select></div>
	                </div> -->
	                <div class="midsec_row">
	                	<div class="rw_hd">Experience to Keeping Pets</div>
	                    <div class="rw_tbox"><input type="text" placeholder="Enter Months" class="tbox" value="{{user.profile.experience}}"></div>
	                </div>
	                <div class="midsec_row">
	                    <div class="rw_tbox"><span class="cler"></span><input type="submit" value="Submit" class="buttn"></div>
	                </div>
	                </form>
	            </div>
	      		
	      
	    
	    </div>
</template>