<template name='timeline'>
    <div class="content_lft">
        <div class="contnt_1">
            <!-- <div class="list_1">
                <ul>
                    <li>
                        <input type="checkbox" class="chk_bx"> Friends
                    </li>
                    <li>
                        <input type="checkbox" class="chk_bx"> Flaged
                    </li>
                </ul>
            </div> -->
            <div class="timeline_div">
                <div class="timeline_div1">
                    <div class="profile_pic">
                        <img src="{{#if user.profile.image}}
                          {{user.profile.image}}
                          {{else}}
                            {{preview}}
                          {{/if}}
                        ">
                        {{#if isMyTimeline}}
                        <div class="profile_text"><a id="profile_image" href="#">Change Profile Pic</a></div>
                        {{/if}}
                        
                    </div>
                    {{#if currentUser}}
                    <div class="profile_info">
                        {{#if isMyTimeline}}
                        <div class="edit_div"><a href="#">Edit <img src="/images/timeline_img.png"></a>
                        </div>
                        {{/if}}
                        <div class="profile_form">
                            <ul>
                                <li>
                                    <div class="div_name1">Name :</div>
                                    <div class="div_name2">{{user.profile.firstName}}  {{user.profile.lastName}}</div>
                                </li>
                                <!-- <li>
                                    <div class="div_name1">Sex :</div>
                                    <div class="div_name2">Female</div>
                                </li> -->
                                <li>
                                    <div class="div_name1">Description :</div>
                                    <div class="div_name3">{{user.profile.description}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {{/if}}
                </div>
                <div class="timeline_div2">
                    <ul>
                        <li><a href="#" id="uploads" class="{{#if active 'uploads'}}active{{/if}}">Uploads</a></li>
                        <li><a href="#" id="about" class="{{#if active 'about'}}active{{/if}}">About    </a></li>
                        <!-- <li><a href="#" id="album" class="{{#if active 'album'}}active{{/if}}">Album  </a></li>
                        <li><a href="#" id='pets' class="{{#if active 'pets'}}active{{/if}}"> Pets  </a></li>
                        <li><a href="#"></a></li> -->
                    </ul>
                </div>
            </div>
            <input type="file" id="user_image"  accept="image/gif, image/png, image/jpeg, image/bmp, image/x-icon, application/pdf, image/x-tiff, image/x-tiff, application/postscript, image/vnd.adobe.photoshop, image/svg+xml" style="visibility: hidden;" >
        </div>
            <div class="contnt_2">
                {{#if active 'uploads'}}
                {{#each posts}}
                <a href="/post/{{_id}}">
                    <div class="div_a">
                        <div class="div_title">{{title}}</div>
                        <div class="btm_rgt">
                            <div class="btm_arc">{{catType}}</div>
                        </div>
                        <div class="div_top">
                            <div class="div_top_lft">{{#if creator.profile.image}}
                                <img src="{{creator.profile.picture}}"> {{else}}
                                <img src="/images/img_6.png"> {{/if}} {{creator.username}}</div>
                            {{#with formatTs createdAt}}
                            <div class="div_top_rgt"><span class="span_date">{{date}}</span><span class="span_time">{{time}}</span></div>
                            {{/with}}
                        </div>
                        <div class="div_image"><img src="{{pictrue}}" alt="pet" /></div>
                        <div class="div_btm">
                            {{#if sharePost}}
                        <div id="share-buttons">

                            <!-- Facebook -->
                            <a href="http://www.facebook.com/sharer.php?u={{absoluteURL}}post/{{_id}}" target="_blank">
                                <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                            </a>
                            
                            <!-- Google+ -->
                            <a href="https://plus.google.com/share?url={{absoluteURL}}post/{{_id}}" target="_blank">
                                <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
                            </a>
                            
                            <!-- LinkedIn -->
                            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{absoluteURL}}post/{{_id}}" target="_blank">
                                <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
                            </a>
                            
                            <!-- Pinterest -->
                            <!-- <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                                <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
                            </a> -->

                            <!-- Twitter -->
                            <a href="https://twitter.com/share?url={{absoluteURL}}post/{{_id}}&amp;text={{title}}&amp;" target="_blank">
                                <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                            </a>

                    </div>
                    {{/if}}
                            <div class="btm_list">
                                <ul>
                                    <li class="sharePost"><a href="#"><span class="btn_icon"><img src="/images/icon_001.png" alt="share" /></span>Share</a></li>
                                    {{#if isLiked flagBy}}
                                        <li class="unflagPost"><a href="#"><span class="btn_icon "><img src="/images/icon_002.png" alt="share" /></span>Unflag</a></li>
                                    {{else}}
                                        <li class="flagPost"><a href="#"><span class="btn_icon "><img src="/images/icon_002.png" alt="share" /></span>Flag</a></li>
                                    {{/if}}
                                    
                                    <li><a href="#"><span class="btn_icon"><img src="/images/icon_004.png" alt="share" /></span>{{ commentCount _id }} Comments</a></li>

                                    {{#if isLiked likeBy}}
                                    <li class="unlikePost"><a href="#"><span class="btn_icon"><img src="/images/icon_003.png" alt="share" /></span>Unlike</a></li>
                                    {{else}}
                                    <li class='likePost'><a href="#"><span class="btn_icon"><img src="/images/icon_003.png" alt="share" /></span>Likes</a></li>
                                    {{/if}}
                                    <div class="like_count" style="margin-right: 10px;"><span class="lft_cnt"></span><span class="mid_cnt">{{noOfLikes}}</span><span class="rit_cnt"></span></div>
                                    <!-- <li><a href="#"><span class="btn_icon"><img src="/images/icon_003.png" alt="share" /></span>Featured</a></li> -->
                                    <!-- <div class="like_count"><span class="lft_cnt"></span><span class="mid_cnt">4</span><span class="rit_cnt"></span></div> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
               {{/each}}
               {{/if}}
               {{#if active 'about'}}
                    {{#with about}}
                    <div class="div_a">
                      
                      <div class="msg_title">About</div>
                      <div class="about_list">
                        <ul>
                         <li>
                           <div class="about_left">Username</div>
                           <div class="about_rgt">{{this.profile.firstName}}  {{this.profile.lastName}}</div>
                         </li>
                         <li>
                           <div class="about_left">Language</div>
                           <div class="about_rgt">English</div>
                         </li>
                         <!-- <li>
                           <div class="about_left">Email</div>
                           <div class="about_rgt">abc@gmail.com</div>
                         </li> -->
                         <!--  <li>
                           <div class="about_left">Gender</div>
                           <div class="about_rgt">Male</div>
                         </li>
                          <li>
                           <div class="about_left">DOB</div>
                           <div class="about_rgt">15-March-1988</div>
                         </li> -->
                         <li>
                           <div class="about_left">Self Description</div>
                           <div class="about_rgt">{{this.profile.description}}</div>
                         </li>
                          <li>
                           <div class="about_left">Address</div>
                           <div class="about_rgt">{{this.profile.address}}</div>
                         </li>
                         <li>
                           <div class="about_left">Phone Number</div>
                           <div class="about_rgt">{{this.profile.phone}}</div>
                         </li>
                         <!--  <li>
                           <div class="about_left">Nationality</div>
                           <div class="about_rgt">xyz</div>
                         </li> -->
                         <li>
                           <div class="about_left">Experiance of keeping Pets</div>
                           <div class="about_rgt"> {{this.profile.experience}} Months</div>
                         </li>
                        
                        </ul>
                      
                      </div>
                    </div>
                    {{/with}}
               {{/if}}
               {{#if active 'album'}}

               {{/if}}
               {{#if active 'pets'}}

               {{/if}}
            </div>
    </div>
</template>
