<head>
    <style type="text/css">
    .overrideWidth {
        width: 100%;
    }
    </style>
</head>
<template name="users">
    <div class="content_lft overrideWidth">
        Roles:
        <select id='roleFilter'>
            <option value='all'>-Any-</option>
            {{#each roles}}
            <option value={{name}}>{{name}}</option>
            {{/each}}
        </select>
        &nbsp;&nbsp;&nbsp;Status:
        <select id='statusFilter'>
            <option value='all'>-Any-</option>
            <option value='active'>Active</option>
            <option value='blocked'>Blocked</option>
        </select>
        {{> reactiveTable collection=users settings=settings}} {{#if deleteUser}} {{> del_user}} {{/if}} {{#if changeRole}} {{> change_role}} {{/if}} {{#if blockUser}} {{> block_user}} {{/if}} {{#if unblockUser}} {{> unblock_user}} {{/if}}
    </div>
</template>
<template name="del_user">
    <div class="modal show">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete User</h4>
                </div>
                <div class="modal-body">
                    <p>This action can't be undone. Are you sure you want to delete it.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-default confirmDelete" data-dismiss="modal">Delete</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
<template name="change_role">
    <div class="modal show">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Change Role</h4>
                </div>
                <div class="modal-body">
                    <p>User Roles:</p>
                    {{#each roles}} {{#if isEqual name }} {{#if isOk 'authenticated-user'}}
                    <input type='checkbox' value={{name}} name='changeRole' checked disabled> {{name}} {{else}}
                    <input type='checkbox' value={{name}} name='changeRole' checked> {{name}} {{/if}} {{else}} {{#if isOk 'authenticated-user'}}
                    <input type='checkbox' value={{name}} name='changeRole' disabled> {{name}} {{else}}
                    <input type='checkbox' value={{name}} name='changeRole'> {{name}} {{/if}} {{/if}} {{/each}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-default confirmChangeRole" data-dismiss="modal">Chnage</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
<template name="block_user">
    <div class="modal show">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Block User</h4>
                </div>
                <div class="modal-body">
                    <p>Blocked user can't add post. Are you sure you want to block thos user. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-default blockUser" data-dismiss="modal">Block</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
<template name="unblock_user">
    <div class="modal show">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Unblock User</h4>
                </div>
                <div class="modal-body">
                    <p>After Unblocking user can add posts. Are you sure you want to block thos user. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-default unblockUser" data-dismiss="modal">Unblock</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
